<head>
  <%= stylesheet_link_tag 'leaflet/leaflet.css' %>
  <%= stylesheet_link_tag 'mapview/mainview.css' %>
  <%= javascript_include_tag 'leaflet/leaflet.js' %>
  <%= javascript_include_tag 'mapview/mainview.js' %>
</head>
 <div id="mapid"></div>
 <button id="addMarker" class="btn waves-effect waves-light green">Add marker</button>
