mainmenu

<div id="renderpeople" class="collection">
  <%= render partial: "mypeople", collection: @peoples, as: :people %>
</div>

<button onclick="paintIt(this, '#990000')" class="waves-effect waves-light btn">button</button>
<div id="results"></div>

<a class="waves-effect waves-light btn" href="#" data-background-color="#990000">Paint it red</a>
<a class="waves-effect waves-light btn" href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a class="waves-effect waves-light btn" href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>

<button id="amaurysend" class="waves-effect waves-light btn">firstButton</button>
<div id="amaury"></div>

<button id="vincentsend" class="waves-effect waves-light btn">secondButton</button>
<div id="vincent"></div>

<div id="output" class="collection"></div>
