<div class="row">
  <div class="col-md-6">
    <div id="mTableExample2MainMenu" class="collection"></div>
  </div>
  <div class="col-md-6">
    <div class="col-xs-6">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="add" class="btn waves-effect waves-light">
        Add
      </div>
    </div>
  </div>
</div>
